# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
*.manifest
*.spec

# ---- Environments ----
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
conda/
condass/   # your custom conda env

# ---- Packaging ----
build/
develop-eggs/
dist/
wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg

# ---- Testing ----
.coverage
.tox/
.nox/
.pytest_cache/
coverage.xml
htmlcov/

# ---- Logs ----
*.log
*.out
*.err

# ---- IDEs / Editors ----
.vscode/
.idea/
*.swp
*.swo

# ---- OS / Misc ----
.DS_Store
Thumbs.db
